# Target
Given an example of a multi-level column dataframe, filter the data with specified conditions

**Example**

In [48]:
import pandas as pd

df = pd.DataFrame(
    data={"data_provider": ["prov_1", "prov_1", "prov_2", "prov_2", "prov_3", "prov_3"],
          "indicator": ["ind_a", "ind_a", "ind_a", "ind_b", "ind_b", "ind_b"],
          "unit": ["EUR", "EUR", "EUR", "EUR", "EUR", "EUR"],
          "year": ["2017", "2018","2019", "2017","2018","2019"],
          "country1": [1, 1, 3, 2, 2, 6],
          "country2": [45, 22, 25, 32, 35, 28]
          }
)

df = df.pivot_table(
    index=['data_provider', 'indicator'],
    columns=['year', 'country1'],
    fill_value=30
  )
df.columns.names = ['item', 'year', 'country1']
df

/var/folders/v3/_yfx_m252q72y7mr8gl65mmm0000gn/T/ipykernel_60647/3336746742.py:13: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df = df.pivot_table(

item                    country2
year                        2017     2018     2019
country1                       1   2    1   2    3   6
data_provider indicator
prov_1        ind_a           45  30   22  30   30  30
prov_2        ind_a           30  30   30  30   25  30
              ind_b           30  32   30  30   30  30
prov_3        ind_b           30  30   30  35   30  28

1.1 columns and any other related info

⬇ column labels

In [49]:
df.columns

MultiIndex([('country2', '2017', 1),
            ('country2', '2017', 2),
            ('country2', '2018', 1),
            ('country2', '2018', 2),
            ('country2', '2019', 3),
            ('country2', '2019', 6)],
           names=['item', 'year', 'country1'])

⬇ column levels

In [50]:
df.columns.nlevels

3

⬇ column names

In [51]:
df.columns.names

FrozenList(['item', 'year', 'country1'])

1.2 indexes and any other related info

⬇ index

In [52]:
df.index

MultiIndex([('prov_1', 'ind_a'),
            ('prov_2', 'ind_a'),
            ('prov_2', 'ind_b'),
            ('prov_3', 'ind_b')],
           names=['data_provider', 'indicator'])

⬇ index levels

In [53]:
df.index.nlevels

2

⬇ index names

In [54]:
df.index.names

FrozenList(['data_provider', 'indicator'])

# Filter

2.1 get the level number where column labels' name is `year`

In [55]:
collev = df.columns._get_level_number(level='year')
collev

1

2.2 get the column labels where `year` is '2017' or '2018'

In [56]:
collabels1 = df.columns[df.columns.get_level_values(level=collev)=='2017']
collabels1

MultiIndex([('country2', '2017', 1),
            ('country2', '2017', 2)],
           names=['item', 'year', 'country1'])

In [57]:
collabels2 = df.columns[df.columns.get_level_values(level=collev)=='2018']
collabels2

MultiIndex([('country2', '2018', 1),
            ('country2', '2018', 2)],
           names=['item', 'year', 'country1'])

2.3 set conditions for filtering the data

In [58]:
condition1 = df[collabels1] > 30
condition1

item                    country2
year                        2017
country1                       1      2
data_provider indicator
prov_1        ind_a         True  False
prov_2        ind_a        False  False
              ind_b        False   True
prov_3        ind_b        False  False

In [59]:
condition2 = df[collabels2] < 30
condition2

item                    country2
year                        2018
country1                       1      2
data_provider indicator
prov_1        ind_a         True  False
prov_2        ind_a        False  False
              ind_b        False  False
prov_3        ind_b        False  False

2.4 filter the data

In [60]:
newdf1 = df[condition1]
newdf1

item                    country2
year                        2017       2018     2019
country1                       1     2    1   2    3   6
data_provider indicator
prov_1        ind_a         45.0   NaN  NaN NaN  NaN NaN
prov_2        ind_a          NaN   NaN  NaN NaN  NaN NaN
              ind_b          NaN  32.0  NaN NaN  NaN NaN
prov_3        ind_b          NaN   NaN  NaN NaN  NaN NaN

In [61]:
newdf2 = df[condition2]
newdf2

item                    country2
year                        2017      2018     2019
country1                       1   2     1   2    3   6
data_provider indicator
prov_1        ind_a          NaN NaN  22.0 NaN  NaN NaN
prov_2        ind_a          NaN NaN   NaN NaN  NaN NaN
              ind_b          NaN NaN   NaN NaN  NaN NaN
prov_3        ind_b          NaN NaN   NaN NaN  NaN NaN

update `NaN` elements with value in the same location in 'other' with `combine_first`

In [47]:
newdf = newdf1.combine_first(newdf2)
newdf

item                    country2
year                        2017        2018     2019
country1                       1     2     1   2    3   6
data_provider indicator
prov_1        ind_a         45.0   NaN  22.0 NaN  NaN NaN
prov_2        ind_a          NaN   NaN   NaN NaN  NaN NaN
              ind_b          NaN  32.0   NaN NaN  NaN NaN
prov_3        ind_b          NaN   NaN   NaN NaN  NaN NaN